<a href="https://colab.research.google.com/github/sakshamjn/MongoDB/blob/master/Extracting_from_MongoDB_using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import the libraries

In [0]:
import pymongo
from pymongo import MongoClient

## Establish connection

In [0]:
connection = MongoClient('localhost', 27017)
db = connection.EmployeeDB

## Extract database and collection details

In [0]:
data = db.employees
EmployeeList = data.find()

## Print each individual record

In [0]:
for item in EmployeeList:
    print("Name: " + item["name"] + " " + "Dept: " + item["dept"])

## Create a dataframe to give structure to the NoSQL data

In [0]:
import pandas as pd
df = pd.DataFrame(list(data.find()))
df

                        _id   dept   name
0  5cb251e12c6fe759b793a293     IT  Nitin
1  5cb251fe2c6fe759b793a294     HR   John
2  5cb2520e2c6fe759b793a295  Admin  Ronny